:root {
  --color-page: #fff;
	--c-gray-100: #fbf8f2;
	--c-gray-200: #fcfdfe;
	--c-gray-300: #e9ebec;
	--c-gray-400: #e3e4ea;
	--c-gray-500: #5f5f5f;
	--c-gray-900: #1d1d1d;
	--c-blue-300: #a8dee2;
	--c-blue-500: #2ab3c0;
	--c-green-500: #80b895;
	--c-green-300: #bad5ca;
	--c-red-500: #ea605e;
	--c-yellow-300: #f8e0b1;
  --color-light: #faf4f4;
  --color-dark: #17171f;
	--c-yellow-500: #f9bc73;
  --font-family: "Poppins", sans-serif;
	--rotation: -3deg;
    /*Animations*/
    --delay-titles: 0.3s;
    --delay-product: 0.6s;
    --delay-product-image: 1s;
    --delay-product-detail: 1.1s;
    --delay-product-star: 1.3s;
    /*icons Size multiply*/
    --ggs: 1.5;
    /*Colors*/
    --color-dark-rgb: 23, 23, 31;
    /*Font Familiy*/
    --font-family: "Poppins", sans-serif;
}
